.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {

  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 15, 15);
  color: white;
  justify-content: left;
  padding-left: 100px ;
  display: flex;
}
.header{

  margin-bottom:100px ;
}
.main{

  margin-top: 50px;
padding-left:10px ;
}
.cardMovies{
  gap: 50px;
  padding: 20px ;
  text-align: center;
  height: 500px;
}
.cardwither{
  color: rgb(4, 4, 3);
  
}
.formMoves{

  margin-top: 200px;
  margin-bottom: 200px;
}
.formWeather{
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content: center;


}
.moviesImgs{

  width: 100px;
  height: 400px;
}